<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >

<head>
	<div th:replace="fragments/bootstrapcdn" />

</head>

<body>
	<div class="container">
		<div class="header row" >
		<div class="col-8">
			<h1>To-Do's</h1>
		</div>
			<div class="col-2">
		 <form th:action="@{/tasks/form}" th:method="get">
			<button class="btn btn-md btn-secondary" type="Submit" value="Submit">New
				Task</button>
		</form>
		</div>
		</div>
		<table class="table">
    <thead>
        <tr>
            <th scope="col"> Due Date </th>
            <th scope="col"> Task Name </th>
            <th scope="col"> Notes </th>
        </tr>
    </thead>
    <tbody>
    <tr th:if="${tasks.empty}">
            <td colspan="2"> No Tasks Available </td>
        </tr>
        <tr th:each="task : ${tasks}">
        	<td><span th:text="${#dates.format(task.dueDate, 'dd-MMM-yyyy')}"> Date </span></td>
            <td><span th:text="${task.taskName}"> Title </span></td>
            <td><span th:text="${task.taskNotes}"> Author </span></td>
            <td>		
            	<form th:action="@{/tasks/alltasks/}+ ${task.id}" th:method="get">
				<button class="btn btn-md btn-secondary" type="Submit" value="Submit">Edit</button>
				</form>
			</td>
			 <td>		
            	<form action="#" th:action="@{/tasks/delete/} + ${task.id}" th:method="get">
				<button class="btn btn-md btn-secondary" type="submit">Complete</button>
				</form>
			</td>
        </tr>
    </tbody>
</table>
	</div>
	
	<div th:replace="fragments/scripts" />
	
</body>
</html>