<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="fragments/bootstrapcdn"></div>
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<div class="container">
		<div class="header">
			<h1>New To-Do List</h1>
		</div>
		<form th:action="@{/lists/processList}" th:object="${tasklist}"
			th:method="post">
			<div class="form-group">
				<input th:type="hidden" th:field="*{id}">
			</div>
			<div class="form-group form-dark">
				<label for="tasklistName">To-Do List Name</label> <input th:type="text"
					th:field="*{tasklistName}" class="form-control" id="tasklistName" />
				<div th:if="${#fields.hasErrors('tasklistName')}"
					th:errors="*{tasklistName}">Name Error</div>
			</div>


			<div class="addbutton">
				<button class="btn btn-md btn-secondary" type="submit">Add
					To-Do List</button>
			</div>
			<div th:if="${success}">
				<h3>
					<span  th:text="${success}"></span>
				</h3>
			</div>
		</form>
		
		<br><br>
		
		<form th:action="@{/lists}" th:method="get">
			<button class="btn btn-md btn-secondary" type="Submit" value="Submit">Show
				To-Do lists</button>
		</form>
	</div>

	<div th:replace="fragments/scripts"></div>

</body>

</html>