<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >

<head>
	<div th:replace="fragments/bootstrapcdn" />
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<div class="container">
		<div class="header row" >
		<div class="col-8">
			<h1><span th:text="${tasklist.tasklistName}"> Name </span></h1>
		</div>
			<div class="col-2">
		 <form th:action="@{/lists/}+${tasklist.id} + @{/tasks/addTask}" th:method="get">
			<button class="btn btn-md btn-secondary" type="Submit" value="Submit">New
				To-Do</button>
		</form>
		</div>
		<div class="col-2">
		 <form th:action="@{/lists/}" th:method="get">
			<button class="btn btn-md btn-secondary" type="Submit" value="Submit">All
				To-Do Lists</button>
		</form>
		</div>
		</div>
		<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Due date</th>
            <th scope="col">To-do</th>
            <th scope="col">Notes</th>
        </tr>
    </thead>
    <tbody>
       <tr th:if="${tasks.empty}">
            <td colspan="2"> No to-do's Available </td>
        </tr>
        <tr th:each="task : ${tasks}">
            
            <td><span th:text="${#dates.format(task.dueDate, 'MMM-dd-yyyy')}"> Date </span></td>
            
            <td><span th:text="${task.taskName}"> Name </span></td>
            <td><span th:text="${task.taskNotes}"> Notes </span></td>
            <td>		
            	<form th:action="@{/lists/}+ ${tasklist.id} + @{/tasks/} + ${task.id}" th:method="get">
				<button class="btn btn-md btn-secondary" type="Submit" value="Submit">Edit to-do</button>
				</form>
			</td>
			 <td>		
            	<form th:action="@{/lists/}+ ${tasklist.id} + @{/tasks/delete/}+ ${task.id}" th:method="get">
				<button class="btn btn-md btn-secondary" type="Submit" value="Submit">Delete to-do</button>
				</form>
			</td>
        </tr>
    </tbody>
</table>
	</div>
	
	<div th:replace="fragments/scripts" />
	
</body>
</html>